h1{
    color:white;
    background-color:black;
    text-align:center;
}
h2{
    color:teal;
    background-color:skyblue;
    text-align:center;
}
h3{
    color:green;
}
p{
    color:salmon;
}
body{
    background-image:url(../images/haikei2.jpeg)
}